extends template/layout.pug


block custom_header
    script(src='/js/websocket.js?v=' + bag.jshash)
    script(src='/js/ui_events.js?v=' + bag.jshash)

block navpanel
    // --------------- Navigation Bar  -------------- //
    include template/nav.pug

block content
    #loginWrap
        #logintitle
            span 区块链票据
        br
        br
        form#loginform(method="POST" action="#")
            #loginInput
                input(name="username" type="text" placeholder="UserName").long
                span &nbsp;&nbsp;
                .tooltip
                    span.tooltiptext this is tip "hello"
                    span.fa.fa-question-circle
                br
                input(name="userkey" type="password" placeholder="UserKey").long
            #loginButtonCSS
                button(type="submit")#loginButton
                    span.fa.fa-sign-in &nbsp;&nbsp;
                    span 登录