#mybillWrap(hidden)
    table#billsList
        caption#billsListCaption 票据列表
        tr.billsListFTR
            th 票据号
            th 票据状态
            th 所属关系
            th 操作
        tr
            td 票据号
            td 票据状态
            td 所属关系
            td 操作
        tr
            td 票据号
            td 票据状态
            td 所属关系
            td 操作
        tr
            td 票据号
            td 票据状态
            td 所属关系
            td 操作
        tr
            td 票据号
            td 票据状态
            td 所属关系
            td 操作