#logo
    //img(src="/imgs/logo.png")#logoIcon
    span 区块链-票据


#whoAmI
    span.fa.fa-user#userIcon
    span#curUser #{user}
    span &nbsp;
    span.fa.fa-angle-down#carrot


    #userSelect
        #triangle
        a(href="/login").userLine Logout
