#logo
    //img(src="/imgs/logo.png")#logoIcon
    span 区块链-票据
    span &nbsp;&nbsp;
    a(href="https://github.com/901d/BillsOnBC_doc" target="_blank")#document
        span.fa.fa-book
        span &nbsp;&nbsp;
        span 文档


#whoAmI
    span.fa.fa-user#userIcon
    span#curUser #{user}
    span &nbsp;
    span.fa.fa-angle-down#carrot


    #userSelect
        #triangle
        a(href="/login").userLine Logout
