#noteWrap(hidden)
    span#noteH1 票据动作
    br
    span#noteTxId ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
    br
    br
    div
        button(type="button")#noteButton
            span.fa.fa-check &nbsp;&nbsp;
            span OK